@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-center {
    scroll-snap-align: center;
  }
  .snap-mandatory {
    scroll-snap-type: x mandatory;
  }
}
